*{padding:0;margin:0;border:0;}
a, a:visited{text-decoration:none;}
ul li{list-style: none;}

:root {
    --primary-color-500: #5952D1;
    --primary-color-400: #6C63FF;
    --primary-color-300: #9E99FF;
    --primary-color-200: #C5C2FF;
    --primary-color-100: #ECEBFF;
    
    --secondary-color-500: #FC4A6E;
    --secondary-color-400: #FD6584;
    --secondary-color-300: #FD9BAE;
    --secondary-color-200: #FED7DF;
    --secondary-color-100: #FEEBEF;
    
    --neutral-color-500: #2F2E41;
    --neutral-color-400: #717082;
    --neutral-color-300: #9893A3;
    --neutral-color-200: #CFCFDE;
    --neutral-color-100: #FFFFFF;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.content {
    flex: 1 1 auto;
}

.button {
    flex: 0 0 auto;
    padding: 16px 30px;
    border: 1px solid var(--primary-color-400);
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    background-color: var(--neutral-color-100);
    color: var(--primary-color-400);
}
.button_filled, .button:hover {
    color: var(--neutral-color-100);
    background-color: var(--primary-color-400);
}
.button_filled:hover {
    color: var(--primary-color-400);
    background: none;
}

.navbar {
    padding: 40px 0;
}
.navbar__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    flex: 0 0 80px;
}
.navbar__logo img {
    max-width: 100%;
}

.navbar__nav-row {
    display: flex;
    margin: 0 16px;
}
.navbar__nav-item {
    flex: 0 0 auto;
    font-size: 16px;
    font-weight: 700;
    color: var(--neutral-color-300);
    padding: 0 0 10px 0;
    position: relative;
}
.navbar__nav-item + .navbar__nav-item {
    margin-left: 36px;
}
.navbar__nav-item_active, .navbar__nav-item:hover {
    color: var(--neutral-color-500);
}
.navbar__nav-item_active::after, .navbar__nav-item:hover::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content:'';
    width: 100%;
    height: 4px;
    background-color: var(--primary-color-300);
}

.navbar__login-row {
    display: flex;
}
.navbar__login-button + .navbar__login-button {
    margin-left: 16px;
}

.hero__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
}
.hero__body {
    text-align: left;
}
.hero__title {
    font-family: Playfair Display;
    font-size: 86px;
    font-weight: 700;
    line-height: 88px;
    letter-spacing: -1px;
    margin-bottom: 30px;
}
.hero__text {
    font-size: 20px;
    line-height: 34px;
    color: var(--neutral-color-300);
    margin-bottom: 30px;
}
.hero__button {
    display: inline-block;
}
.hero__image {
    flex: 0 0 642px;
    margin-left: 49px;
}
.hero__image img {
    width: 100%;
}

.footer {
    background-color: var(--primary-color-100);
}

.footer__menu {
    padding: 40px 0;
    margin: 205px 0 0;
}
.footer__menu-row {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0 190px;
}
.footer__menu-column {
    flex: 0 1 25%;
}
.footer__menu-column + .footer__menu-column {
    margin-left: 16px;
}
.column__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}
.column__list li {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 8px;
    color: var(--neutral-color-400);
}
.column__list a {
    color: inherit;
}
.column__icons-row {
    display: flex;
}
.column__icons-item {
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    background: center no-repeat var(--neutral-color-100);
    color: var(--neutral-color-300);
    text-align: center;
}
.column__icons-item + .column__icons-item {
    margin-left: 12px;
}

.footer__info {
    padding: 40px 0;
}
.footer__info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__info-logo {
    flex: 0 0 60px;
}
.footer__info-logo img {
    max-width: 100%;
}
.footer__info-copyright {
    color: var(--neutral-color-300);
    font-size: 12px;
}