.fus-article-snippet {
    display: flex;
    justify-content: start;
    flex-direction: column;

    &__image {
        margin-bottom: 26px;

        img {
            width: 100%;
        }

        @media (max-width:991px) {
            flex: 0 0 353px;
            margin: 0 27px 0 0;
        }
    }

    &__title {
        margin-bottom: 6px;
        font-size: 22px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: -1px;
        color: fusely-color('neutral', '500');
    }

    &__text {
        margin-bottom: 26px;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        color: fusely-color('neutral', '300');
    }

    @media (max-width:991px) {
        flex-direction: row;
        align-items: center;
        max-width: 100%;
        margin: 0;
    }
}