.fus-plan-card {
    $card: &;
    
    padding: 46px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    border-radius: 2px;
    background-color: fusely-color('primary', '100', $opacity: 0.3);
    color: fusely-color('neutral', '400');

    &__title {
        margin-bottom: 30px;
    }

    &__price {
        margin-bottom: 30px;
        font-size: 50px;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: -2px;
        color: fusely-color('neutral', '500');

        &-period {
            display: inline-block;
            font-size: 18px;
            font-weight: 400;
            line-height: 26px;
        }
    }

    &__features {
        margin-bottom: 30px;

        div {
            &:not(:last-child) {
                margin-bottom: 14px;
            }

            span {
                color: fusely-color('neutral', '500');
            }
        }
    }

    &__button {
        &.fus-button_light {
            display: none;
        }
        &.fus-button-outline_primary {
            display: inline-block;
        }
    }

    @media (min-width:992px) {
        &_selected, &:hover {
            padding: 70px 0;
            background-color: fusely-color();
            color: fusely-color('neutral', '100');

            #{$card} {
                &__price {
                    color: fusely-color('neutral', '100');
                }

                &__features {
                    color: fusely-color('neutral', '100', $opacity: 0.8);

                    div {
                        span {
                            color: fusely-color('neutral', '100');
                        }
                    }
                }

                &__button {
                    &.fus-button_light {
                        display: inline-block;
                    }
                    &.fus-button-outline_primary {
                        display: none;
                    }
                }
            }
        }
    }

    @media (max-width:991px) {
        max-width: 100%;
        width: 100%;

        &_selected {
            padding: 70px 0;
            background-color: fusely-color();
            color: fusely-color('neutral', '100');

            #{$card} {
                &__price {
                    color: fusely-color('neutral', '100');
                }

                &__features {
                    color: fusely-color('neutral', '100', $opacity: 0.8);

                    div {
                        span {
                            color: fusely-color('neutral', '100');
                        }
                    }
                }

                &__button {
                    &.fus-button_light {
                        display: inline-block;
                    }
                    &.fus-button-outline_primary {
                        display: none;
                    }
                }
            }
        }
    }
}