@import '../font/fontello/css/fontello-codes.css';
@import '../font/fontello/css/animation.css';
@import '../font/fontello/css/fontello-embedded.css';
@import '../font/fontello/css/fontello-ie7-codes.css';
@import '../font/fontello/css/fontello-ie7.css';
@import '../font/fontello/css/fontello.css';

@import './fusely-kit/colors.scss';
@import './fusely-kit/buttons.scss';
@import './fusely-kit/plan-card.scss';
@import './fusely-kit/article-snippet.scss';


*{padding:0;margin:0;border:0;}
a, a:visited{text-decoration:none;}

body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    & > * {
        padding: 0 40px;

        @media (max-width:575px) {
            padding: 0 20px;
        }
    }

    
}

/* smooth scroll (only Firefox) */
html {scroll-behavior: smooth;}
/* ---------------------------- */

$small-container: null;
$large-container: null;

.container {
    position: relative;
    margin: 0 auto;
    
    &_large {
        $large-container: & !global;

        max-width: 1280px;
    }

    &_medium {
        max-width: 1180px;
    }

    &_small {
        $small-container: & !global;

        max-width: 900px;
    }
}

.content {
    flex: 1 1 auto;

    &__flex-column {
        @media (min-width:992px) {
            flex: 0 1 33%;
            max-width: 363px;
        
            & + & {
                margin-left: 20px;
            }
        }
    }
}

.title {
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: -1px;
    color: fusely-color('neutral', '500');

    @media (max-width:575px) {
        font-size: 34px;
        line-height: 40px;
    }
}

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    margin: 30px 0;
    padding: 10px 0;
    z-index: 1;
    background-color: fusely-color('neutral', '100');

    @media (max-width:991px) {
        margin: 20px -40px;
        padding: 20px 40px;
    }

    @media (max-width:575px) {
        margin: 20px -20px;
        padding: 0 20px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width:991px) {
            min-height: 52px;
        }
    }

    &__logo {
        flex: 0 0 80px;
        z-index: 2;

        img {
            max-width: 100%;
        }
    }

    &__burger {
        position: relative;
        width: 25px;
        height: 19px;
        cursor: pointer;
        z-index: 2;

        @media (min-width:992px) {
            display: none;
        }

        &::before, &::after, & span {
            content: '';
            background-color: fusely-color();
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            top: 8px;
        }

        &:focus + nav {
            display: block;

            & + .navbar__login {
                display: block;
            }
        }
    }

    &__login {
        @media (max-width:991px) {
            display: none;
            position: fixed;
            top: 0;
            /* ---------------- set -100% to hide for using JS ---------------- */
            left: 0;
            /* ---------------------------------------------------------------- */
            width: 100%;
            height: 100%;
            margin-top: 673px;
        }
    }

    &__login-row {
        display: flex;

        @media (max-width:991px) {
            justify-content: space-between;
            padding: 0 40px;
        }
    }

    &__login-button {
        @media (max-width:991px) {
            width: calc(50% - 20px / 2);
        }
    }

    &__login-button + &__login-button {
        margin-left: 16px;

        @media (max-width:991px) {
            margin-left: 20px;
        }
    }
}

.nav {
    @media (max-width:991px) {
        display: none;
        position: fixed;
        top: 0;
        /* ---------------- set -100% to hide for using JS ---------------- */
        left: 0%;
        /* ---------------------------------------------------------------- */
        width: 100%;
        height: 100%;
        padding-top: 128px;
        background-color: #fff;
    }

    &__row {
        display: flex;
        margin: 0 16px;

        @media (max-width:991px) {
            flex-direction: column;
            margin: 60px 40px 0;
        }
    }

    &__item {
        flex: 0 0 auto;
        font-size: 16px;
        font-weight: 700;
        color: fusely-color('neutral', '300');
        padding: 0 0 10px;
        position: relative;

        & + & {
            margin-left: 36px;
        }
        
        @media (max-width:991px) {
            display: inline-block;
            margin: 0 auto;

            & + & {
                margin: 30px auto 0;
            }
        }

        &_active, &:hover {
            color: fusely-color('neutral', '500');

            &::after {
                position: absolute;
                bottom: 0;
                left: 0;
                content:'';
                width: 100%;
                height: 4px;
                background-color: fusely-color('primary', '300');
            }
        }
    }
}

.hero {
    margin: 40px 0 120px;

    @media (max-width:991px) {
        margin: 0 0 107px;
    }

    @media (max-width:575px) {
        margin: 0 0 80px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width:991px) {
            flex-direction: column;
        }
    }

    &__body {
        flex: 0 1 auto;
        text-align: left;
        max-width: 489px;

        @media (max-width:991px) {
            max-width: 100%;
        }
    }

    &__title {
        margin-bottom: 30px;
        font-family: Playfair Display;
        font-weight: 700;
        font-size: 86px;
        line-height: 88px;
        letter-spacing: -1px;
        color: fusely-color('neutral', '500');

        @media (max-width:575px) {
            margin-bottom: 24px;
            font-size: 46px;
            line-height: 50px;
        }
    }

    &__text {
        font-size: 20px;
        line-height: 34px;
        color: fusely-color('neutral', '300');
        margin-bottom: 30px;

        @media (max-width:575px) {
            margin-bottom: 24px;
        }
    }

    &__image {
        min-width: 54%;
        max-width: 642px;
        margin-left: 20px;

        @media (max-width:991px) {
            max-width: 100%;
            width: 100%;
            margin: 30px 0 0;
        }

        img {
            width: 100%;
        }
    }
}

.partners {
    margin-bottom: 220px;

    @media (max-width:991px) {
        margin-bottom: 140px;
    }

    @media (max-width:575px) {
        margin-bottom: 100px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width:575px) {
            justify-content: space-evenly;
            flex-wrap: wrap;
            margin: 0 -8px;
        }
    }

    &__item {
        flex: 0 1 auto;
        max-width: 110px;

        @media (max-width:575px) {
            margin: 0 8px;
        }

        @media (min-width:576px) {
            & + & {
                margin-left: 16px;
            }
        }

        img {
            width: 100%;

            &:hover {
                filter: contrast(175%) brightness(3%);
            }
        }
    }
}

.section {
    margin-bottom: 220px;

    @media (max-width:991px) {
        margin-bottom: 140px;
    }

    @media (max-width:575px) {
        margin-bottom: 100px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > :not(:first-child) {
            margin: 0 0 0 20px;

            @media (max-width:991px) {
                margin: 50px 0 0 0;
            }

            @media (max-width:575px) {
                margin: 30px 0 0 0;
            }
        }

        @media (max-width:991px) {
            flex-direction: column;
        }

        &_inverted {
            @media (min-width:992px) {
                flex-direction: row-reverse;

                & > :last-child {
                    margin-left: 0px;
                }

                & > :not(:last-child) {
                    margin-left: 20px;
                }
            }
        }
    }

    &__body {
        max-width: 400px;
        text-align: left;

        @media (max-width:991px) {
            max-width: 100%;
            width: 100%;
        }
    }

    &__title {
        margin-bottom: 24px;

        @media (max-width:575px) {
            margin-bottom: 16px;
        }
    }

    &__text {
        font-size: 20px;
        line-height: 34px;
        color: fusely-color('neutral', '300');
        margin-bottom: 24px;

        @media (max-width:575px) {
            margin-bottom: 16px;
        }
    }

    &__image {
        flex: 0 1 auto;
        max-width: 600px;

        @media (max-width:991px) {
            max-width: 100%;
            width: 100%;
        }

        img {
            width: 100%;
        }
    }
}

.pricing {
    margin-bottom: 220px;
    text-align: center;

    @media (max-width:991px) {
        margin-bottom: 140px;
    }

    @media (max-width:575px) {
        margin-bottom: 100px;
    }

    &__title {
        margin-bottom: 90px;

        @media (max-width:991px) {
            text-align: left;
        }

        @media (max-width:575px) {
            margin-bottom: 40px;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width:991px) {
            flex-direction: column;
            & > :not(:first-child) {
                margin: 45px 0 0;
            }
        }

        @media (max-width:575px) {
            & > :not(:first-child) {
                margin-top: 24px;
            }
        }
    }
}

.blog {
    &__row-title, &__row-content {
        display: flex;
        justify-content: space-between;
    }

    &__row-title {
        align-items: center;
        margin-bottom: 90px;

        @media (max-width:575px) {
            margin-bottom: 40px;
        }
    }

    &__title {
        margin-right: 20px;
    }

    &__row-content {
        align-items: start;

        @media (max-width:991px) {
            flex-direction: column;
            & > :not(:last-child) {
                margin-bottom: 45px;
            }
        }

        @media (max-width:575px) {
            & > :not(:last-child) {
                margin-bottom: 40px;
            }
        }
    }
}

.contact {
    margin: 220px 0 calc(296px / 2 + 220px);

    @media (max-width:991px) {
        margin: 120px -40px 0 -40px;
    }

    @media (max-width:575px) {
        margin: 120px -20px 0 -20px;
    }

    #{$small-container} {
        @media (max-width:991px) {
            max-width: 100%;
        }
    }

    

    &__block {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        padding: 84px;
        height: calc(296px - 84px * 2);
        border-radius: 2px;
        background-color: fusely-color('neutral', '500');

        @media (max-width:991px) {
            position: relative;
            padding: 84px 63px;
        }

        @media (max-width:575px) {
            padding: 72px 20px;
            height: auto;
        }

        &-row {
            flex: 0 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width:575px) {
                flex-direction: column;
            }
        }
    
        &-title {
            flex: 0 1 346px;
            font-family: Playfair Display;
            font-weight: 700;
            margin-right: 20px;
            font-size: 50px;
            line-height: 56px;
            color: fusely-color('neutral', '100');

            @media (max-width:575px) {
                flex: 0 1 106px;
                margin: 0 0 30px;
                max-width: 339px;
                font-size: 34px;
                line-height: 40px;
                letter-spacing: -1px;
                text-align: center;
            }
        }
    }
}

.footer {
    background-color: fusely-color('primary', '100');
    padding-top: calc(96px + 296px / 2);

    @media (max-width:991px) {
        padding-top: 0;
    }

    &__menu {
        margin: 40px 0;

        @media (max-width:991px) {
            margin: 76px 0 58px;
        }

        @media (max-width:575px) {
            margin: 50px 0 38px;
        }

        &-row {
            display: flex;
            justify-content: space-between;
            align-items: start;

            @media (max-width:575px) {
                flex-wrap: wrap;
            }
        }
    
        &-column {
            flex: 0 1 auto;

            @media (min-width:576px) {
                & + & {
                    margin-left: 16px;
                }
            }

            @media (max-width:575px) {
                flex: 0 0 50%;
                margin: 0 0 60px;
            }
        }
    }

    &__bottom-info {
        padding: 40px 0;

        @media (max-width:575px) {
            padding: 0;
            margin: 8px 0 30px;
        }

        &-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-logo {
            flex: 0 0 60px;
            height: 24px;
            background: no-repeat url(../assets/img/logo.svg);
            background-size: contain;

            a {
                display: block;
                width: 60px;
                height: 24px;
            }

            @media (max-width:575px) {
                flex: 0 0 82px;
                height: 27px;
                background: no-repeat url(../assets/img/logo-footer-mobile.svg);

                a {
                    width: 82px;
                    height: 27px;
                }
            }
        }

        &-copyright {
            color: fusely-color('neutral', '300');
            font-size: 12px;
            margin-left: 20px;
        }
    }

}

.menu-column {
    &__title {
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        margin-bottom: 20px;
        color: fusely-color('neutral', '500');
    }

    &__list {
        div {
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            margin-bottom: 8px;
            color: fusely-color('neutral');
        }

        a {
            color: inherit;

            &:hover {
                color: fusely-color();
            }
        }
    }

    &__icons {
        &-row {
            display: flex;
        }

        &-item {
            display: block;
            width: 32px;
            height: 32px;
            line-height: 32px;
            background: center no-repeat fusely-color('neutral', '100');
            color: fusely-color('neutral', '300');
            text-align: center;

            & + & {
                margin-left: 12px;
            }

            &:hover {
                color: fusely-color();
            }
        }
    }
}
