@import '../font/fontello/css/fontello-codes.css';
@import '../font/fontello/css/animation.css';
@import '../font/fontello/css/fontello-embedded.css';
@import '../font/fontello/css/fontello-ie7-codes.css';
@import '../font/fontello/css/fontello-ie7.css';
@import '../font/fontello/css/fontello.css';

*{padding:0;margin:0;border:0;}
a, a:visited{text-decoration:none;}
ul li{list-style: none;}

$fusely-color-key: '400' !default;

$fusely-colors: (
    'primary': (
        '500': #5952D1,
        '400': #6C63FF,
        '300': #9E99FF,
        '200': #C5C2FF,
        '100': #ECEBFF
    ),
    'secondary': (
        '500': #FC4A6E,
        '400': #FD6584,
        '300': #FD9BAE,
        '200': #FED7DF,
        '100': #FEEBEF
    ),
    'neutral': (
        '500': #2F2E41,
        '400': #717082,
        '300': #9893A3,
        '200': #CFCFDE,
        '100': #FFFFFF
    )
);

$fusely-opacity: (
    'light': 0.8, // opacity used with lighter colors
    'dark': 0.4,  // opacity used with darker colors
);

@function fusely-color(
    $name: 'primary',
    $variant: $fusely-color-key,
    $opacity: 1
) {
    $color: null;

    // Get the color spectrum
    $color-spectrum: map-get($fusely-colors, $name);

    // Get the color variant
    @if $color-spectrum {
        $color: map-get($color-spectrum, $variant);
    }

    // Get the alpha setting
    $alpha: if(type-of($opacity) == 'number', $opacity, map-get($scotch-opacity, $opacity));
  
    // Set the alpha of the color
    @if $alpha {
        $color: rgba($color, $alpha);
    }

    @return $color;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    & > * {
        padding: 0 40px;
    }
}

/* smooth scroll (only Firefox) */
html {scroll-behavior: smooth;}
/* ---------------------------- */

.container {
    &-large {
        max-width: 1280px;
    }

    &-medium {
        max-width: 1180px;
    }

    &-small {
        max-width: 900px;
    }

    &-large, &-medium, &-small {
        position: relative;
        margin: 0 auto;
    }
}

.content {
    flex: 1 1 auto;

    &__flex-column {
        flex: 0 0 363px;
    
        & + & {
            margin-left: 20px;
        }
    }
}

.title {
    font-family: Playfair Display;
    font-weight: 700;
    letter-spacing: -1px;
}

.button {
    flex: 0 0 auto;
    display: inline-block;
    padding: 16px 30px;
    border: 1px solid fusely-color();
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    background-color: fusely-color('neutral', '100');
    color: fusely-color();

    &:hover {
        color: fusely-color('neutral', '100');
        background-color: fusely-color();
    }

    &_filled{
        color: fusely-color('neutral', '100');
        background-color: fusely-color();
        &:hover {
            color: fusely-color();
            background: none;
        }
    }
}

.button-more {
    display: block;
    position: relative;
    width: 100px;
    height: 12px;
    border-bottom: 10px solid fusely-color('primary', '200', $opacity: 0.5);
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: -1px;
    color: fusely-color('neutral', '500');

    &:hover {
        border-bottom-color: fusely-color('primary', '200');
    }
}

.navbar {
    padding: 40px 0;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        flex: 0 0 80px;

        & img {
            max-width: 100%;
        }
    }

    &__login-row {
        display: flex;
    }

    &__login-button + &__login-button {
        margin-left: 16px;
    }
}

.nav {
    &__row {
        display: flex;
        margin: 0 16px;
    }

    &__item {
        flex: 0 0 auto;
        font-size: 16px;
        font-weight: 700;
        color: fusely-color('neutral', '300');
        padding: 0 0 10px 0;
        position: relative;

        & + & {
            margin-left: 36px;
        }

        &_active, &:hover {
            color: fusely-color('neutral', '500');

            &::after {
                position: absolute;
                bottom: 0;
                left: 0;
                content:'';
                width: 100%;
                height: 4px;
                background-color: fusely-color('primary', '300');
            }
        }
    }
}

.hero {
    margin-bottom: 120px;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0px;
    }

    &__body {
        text-align: left;
    }

    &__title {
        font-size: 86px;
        line-height: 88px;
        margin-bottom: 30px;
    }

    &__text {
        font-size: 20px;
        line-height: 34px;
        color: fusely-color('neutral', '300');
        margin-bottom: 30px;
    }

    &__image {
        flex: 0 0 642px;
        margin-left: 20px;

        & img {
            width: 100%;
        }
    }
}

.partners {
    margin-bottom: 220px;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        flex: 0 0 auto;
        max-width: 110px;

        & + & {
            margin-left: 16px;
        }

        & img {
            width: 100%;
        }
    }
}

.section {
    margin-bottom: 220px;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > :last-child {
            margin-left: 20px;
        }
    }

    &__image {
        flex: 0 0 600px;

        & img {
            width: 100%;
        }
    }

    &__body {
        max-width: 400px;
        text-align: left;
    }

    &__title {
        margin-bottom: 24px;
        font-size: 60px;
        line-height: 64px;
    }

    &__text {
        font-size: 20px;
        line-height: 34px;
        color: fusely-color('neutral', '300');
        margin-bottom: 24px;
    }
}

.pricing {
    margin-bottom: 220px;
    text-align: center;

    &__title {
        font-size: 60px;
        line-height: 64px;
        margin-bottom: 90px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.plan-card {
    padding: 46px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    border-radius: 2px;
    background-color: fusely-color('primary', '100', $opacity: 0.3);
    color: fusely-color('neutral', '400');

    &__title {
        margin-bottom: 30px;
    }

    &__price {
        margin-bottom: 30px;
        color: fusely-color('neutral', '500');

        & span {
            font-size: 50px;
            font-weight: 700;
            line-height: 56px;
            letter-spacing: -2px;
        }
    }

    &__features {
        margin-bottom: 30px;

        & li {
            &:not(:last-child) {
                margin-bottom: 14px;
            }

            & span {
                color: fusely-color('neutral', '500');
            }
        }
    }

    &_selected, &:hover {
        padding: 70px 0;
        background-color: fusely-color();
        color: fusely-color('neutral', '100');

        .plan-card {
            &__price {
                color: fusely-color('neutral', '100');
            }

            &__features {
                color: fusely-color('neutral', '100', $opacity: 0.8);

                & li {
                    & span {
                        color: fusely-color('neutral', '100');
                    }
                }
            }
        }
    }
}

.blog {
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 90px;
        }
    }

    &__title {
        font-size: 60px;
        line-height: 64px;
    }
}

.article-snippet {
    display: flex;
    justify-content: start;
    flex-direction: column;

    &__image {
        margin-bottom: 26px;

        & img {
            width: 100%;
        }
    }

    &__title {
        margin-bottom: 6px;
        font-size: 22px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: -1px;
    }

    &__text {
        margin-bottom: 26px;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        color: fusely-color('neutral', '300');
    }
}

.contact {
    margin: 220px 0 calc(296px / 2 + 220px);

    &__block {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        padding: 84px;
        height: calc(296px - 84px * 2);
        border-radius: 2px;
        background-color: fusely-color('neutral', '500');

        &-row {
            flex: 0 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        &-title {
            flex: 0 1 346px;
            margin-right: 20px;
            font-size: 50px;
            line-height: 56px;
            letter-spacing: 0px;
            color: fusely-color('neutral', '100');
        }
    }
}

.footer {
    background-color: fusely-color('primary', '100');
    padding-top: calc(96px + 296px / 2);

    &__menu {
        padding: 40px 0;

        &-row {
            display: flex;
            justify-content: space-between;
            align-items: start;
        }
    
        &-column {
            flex: 0 1 auto;

            & + & {
                margin-left: 16px;
            }
        }
    }

    &__bottom-info {
        padding: 40px 0;

        &-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-logo {
            flex: 0 0 60px;

            & img {
                max-width: 100%;
            }
        }

        &-copyright {
            color: fusely-color('neutral', '300');
            font-size: 12px;
        }
    }

}

.menu-column {
    &__title {
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    &__list {
        & li {
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            margin-bottom: 8px;
            color: fusely-color('neutral');
        }

        & a {
            color: inherit;
        }
    }

    &__icons {
        &-row {
            display: flex;
        }

        &-item {
            display: block;
            width: 32px;
            height: 32px;
            line-height: 32px;
            background: center no-repeat fusely-color('neutral', '100');
            color: fusely-color('neutral', '300');
            text-align: center;

            & + & {
                margin-left: 12px;
            }

            &:hover {
                color: fusely-color();
            }
        }
    }
}
