@import '../font/fontello/css/fontello-codes.css';
@import '../font/fontello/css/animation.css';
@import '../font/fontello/css/fontello-embedded.css';
@import '../font/fontello/css/fontello-ie7-codes.css';
@import '../font/fontello/css/fontello-ie7.css';
@import '../font/fontello/css/fontello.css';

@import './fusely-kit/colors.scss';
@import './fusely-kit/buttons.scss';
@import './fusely-kit/plan-card.scss';
@import './fusely-kit/article-snippet.scss';


*{padding:0;margin:0;border:0;}
a, a:visited{text-decoration:none;}

body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    & > * {
        padding: 0 40px;
    }
}

/* smooth scroll (only Firefox) */
html {scroll-behavior: smooth;}
/* ---------------------------- */

.container {
    position: relative;
    margin: 0 auto;
    
    &_large {
        max-width: 1280px;
    }

    &_medium {
        max-width: 1180px;
    }

    &_small {
        max-width: 900px;
    }
}

.content {
    flex: 1 1 auto;

    &__flex-column {
        flex: 0 1 33%;
        max-width: 363px;
    
        & + & {
            margin-left: 20px;
        }
    }
}

.title {
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: -1px;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px;
    }

    &__logo {
        flex: 0 0 80px;

        img {
            max-width: 100%;
        }
    }

    &__burger {
        display: none;
        cursor: pointer;

        &::before, &::after, & span {
            content: '';
            background-color: fusely-color();
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            top: 8px;
        }

        @media (max-width:991px) {
            display: block;
            position: relative;
            width: 25px;
            height: 19px;
        }
    }

    &__login {
        @media (max-width:991px) {
            position: fixed;
            top: 0;
            /* ---------------- hidden for using JS ---------------- */
            left: -100%;
            /* ----------------------------------------------------- */
            width: 100%;
            height: 100%;
            margin-top: 673px;
        }
    }

    &__login-row {
        display: flex;

        @media (max-width:991px) {
            justify-content: space-between;
            padding: 0 40px;
        }
    }

    &__login-button {
        @media (max-width:991px) {
            width: 50%;
        }
    }

    &__login-button + &__login-button {
        margin-left: 16px;

        @media (max-width:991px) {
            margin-left: 20px;
        }
    }
}

.nav {
    &__row {
        display: flex;
        margin: 0 16px;

        @media (max-width:991px) {
            flex-direction: column;
            margin: 60px 40px 0;
        }
    }

    &__item {
        flex: 0 0 auto;
        font-size: 16px;
        font-weight: 700;
        color: fusely-color('neutral', '300');
        padding: 0 0 10px 0;
        position: relative;

        & + & {
            margin-left: 36px;
        }

        &_active, &:hover {
            color: fusely-color('neutral', '500');

            &::after {
                position: absolute;
                bottom: 0;
                left: 0;
                content:'';
                width: 100%;
                height: 4px;
                background-color: fusely-color('primary', '300');
            }
        }

        @media (max-width:991px) {
            display: inline-block;
            margin: 0 auto;

            & + & {
                margin: 30px auto 0;
            }
        }
    }

    @media (max-width:991px) {
        position: fixed;
        top: 0;
        /* ---------------- hidden for using JS ---------------- */
        left: -100%;
        /* ----------------------------------------------------- */
        width: 100%;
        height: 100%;
        margin-top: 112px;
        background-color: #fff;
    }
}

.hero {
    margin: 200px 0 120px;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0px;
    }

    &__body {
        text-align: left;
        max-width: 45%;
    }

    &__title {
        margin-bottom: 30px;
        font-family: Playfair Display;
        font-weight: 700;
        font-size: 86px;
        line-height: 88px;
        letter-spacing: -1px;
        color: fusely-color('neutral', '500');;
    }

    &__text {
        font-size: 20px;
        line-height: 34px;
        color: fusely-color('neutral', '300');
        margin-bottom: 30px;
    }

    &__image {
        flex: 0 1 auto;
        max-width: 642px;
        margin-left: 20px;

        img {
            width: 100%;
        }
    }
}

.partners {
    margin-bottom: 220px;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        flex: 0 0 auto;
        max-width: 110px;

        & + & {
            margin-left: 16px;
        }

        img {
            width: 100%;
        }
    }
}

.section {
    margin-bottom: 220px;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > :last-child {
            margin-left: 20px;
        }
    }

    &__image {
        flex: 0 1 auto;
        max-width: 600px;

        img {
            width: 100%;
        }
    }

    &__body {
        max-width: 400px;
        text-align: left;
    }

    &__title {
        margin-bottom: 24px;
    }

    &__text {
        font-size: 20px;
        line-height: 34px;
        color: fusely-color('neutral', '300');
        margin-bottom: 24px;
    }
}

.pricing {
    margin-bottom: 220px;
    text-align: center;

    &__title {
        margin-bottom: 90px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.blog {
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: start;

        &:not(:last-child) {
            margin-bottom: 90px;
        }
    }
}

.contact {
    margin: 220px 0 calc(296px / 2 + 220px);

    &__block {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        padding: 84px;
        height: calc(296px - 84px * 2);
        border-radius: 2px;
        background-color: fusely-color('neutral', '500');

        &-row {
            flex: 0 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        &-title {
            flex: 0 1 346px;
            font-family: Playfair Display;
            font-weight: 700;
            margin-right: 20px;
            font-size: 50px;
            line-height: 56px;
            color: fusely-color('neutral', '100');
        }
    }
}

.footer {
    background-color: fusely-color('primary', '100');
    padding-top: calc(96px + 296px / 2);

    &__menu {
        padding: 40px 0;

        &-row {
            display: flex;
            justify-content: space-between;
            align-items: start;
        }
    
        &-column {
            flex: 0 1 auto;

            & + & {
                margin-left: 16px;
            }
        }
    }

    &__bottom-info {
        padding: 40px 0;

        &-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-logo {
            flex: 0 0 60px;

            img {
                max-width: 100%;
            }
        }

        &-copyright {
            color: fusely-color('neutral', '300');
            font-size: 12px;
        }
    }

}

.menu-column {
    &__title {
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    &__list {
        div {
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            margin-bottom: 8px;
            color: fusely-color('neutral');
        }

        a {
            color: inherit;

            &:hover {
                color: fusely-color();
            }
        }
    }

    &__icons {
        &-row {
            display: flex;
        }

        &-item {
            display: block;
            width: 32px;
            height: 32px;
            line-height: 32px;
            background: center no-repeat fusely-color('neutral', '100');
            color: fusely-color('neutral', '300');
            text-align: center;

            & + & {
                margin-left: 12px;
            }

            &:hover {
                color: fusely-color();
            }
        }
    }
}
