<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <title>{{htmlTitle}}</title>
</head>
<body>
    <div class="content">
        <div class="navbar">
            <div class="container-large">
                <div class="navbar__row">
                    <div class="navbar__logo">
                        <a href="/"><img src="assets/img/logo.svg" alt="fusely logo"></a>
                    </div>
                    <nav class="navbar__nav nav">
                        <div class="nav__row">
                            <a href="/" class="nav__item nav__item_active">Home</a>
                            <a href="#features" class="nav__item">Features</a>
                            <a href="#pricing" class="nav__item">Pricing</a>
                            <a href="#blog" class="nav__item">Blog</a>
                            <a href="#contact" class="nav__item">Contact</a>
                        </div>
                    </nav>
                    <div class="navbar__login">
                        <div class="navbar__login-row">
                            <button class="navbar__login-button button">Log in</button>
                            <button class="navbar__login-button button button_filled">Get Started</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero">
            <div class="container-medium">
                <div class="hero__row">
                    <div class="hero__body">
                        <div class="hero__title title">Let’s get fusely together</div>
                        <div class="hero__text">Outcome-centered product that reduce churn, optimize pricing, and grow your subscription business end-to-end.</div>
                        <a href="#" class="hero__button button button_filled">Get Started</a>
                    </div>
                    <div class="hero__image">
                        <img src="assets/img/hero-img.png" alt="Let's get fusely">
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="partners">
                <div class="container-small">
                    <div class="partners__row">
                        <div class="partners__item"><img src="assets/img/partners-logo/binator.svg" alt="binator logo"></div>
                        <div class="partners__item"><img src="assets/img/partners-logo/buyme.svg" alt="buyme logo"></div>
                        <div class="partners__item"><img src="assets/img/partners-logo/loogipsum.svg" alt="loogipsum logo"></div>
                        <div class="partners__item"><img src="assets/img/partners-logo/umbrella.svg" alt="umbrella logo"></div>
                        <div class="partners__item"><img src="assets/img/partners-logo/square.svg" alt="square logo"></div>
                    </div>
                </div>
            </div>
            <div id="features" class="section">
                <div class="container-medium">
                    <div class="section__row">
                        <div class="section__image">
                            <img src="assets/img/detailed-examination.png" alt="Detailed examination">
                        </div>
                        <div class="section__body">
                            <div class="section__title title">Detailed Examination</div>
                            <div class="section__text">A daily dataset to keep you up to date on subscription market trends and what's happening in your vertical.</div>
                            <a href="#" class="section__button button-more">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="features" class="section">
                <div class="container-medium">
                    <div class="section__row">
                        <div class="section__body">
                            <div class="section__title title">Creative Solutions</div>
                            <div class="section__text">Creativity is our second name. We're full of inventive ideas and we're happy to present them to you.</div>
                            <a href="#" class="section__button button-more">Learn more</a>
                        </div>
                        <div class="section__image">
                            <img src="assets/img/creative-solutions.png" alt="Creative solutions">
                        </div>
                    </div>
                </div>
            </div>
            <div id="features" class="section">
                <div class="container-medium">
                    <div class="section__row">
                        <div class="section__image">
                            <img src="assets/img/professional-team.png" alt="Professional Team">
                        </div>
                        <div class="section__body">
                            <div class="section__title title">Professional Team</div>
                            <div class="section__text">Well, obviously, we're professionals. Don't hesitate - get to know us better.</div>
                            <a href="#" class="section__button button-more">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pricing" class="pricing">
                <div class="container-medium">
                    <div class="pricing__title title">Choose your plan</div>
                    <div class="pricing__row">
                        <div class="pricing__plan-card plan-card">
                            <div class="plan-card__title">Starter</div>
                            <div class="plan-card__price"><span>Free</span></div>
                            <ul class="plan-card__features">
                                <li>Dashboard</li>
                                <li>Limited Support</li>
                                <li>Forever free</li>
                            </ul>
                            <a href="#" class="price-card__button button">Get Started</a>
                        </div>
                        <div class="pricing__plan-card plan-card plan-card_selected">
                            <div class="plan-card__title">Premium</div>
                            <div class="plan-card__price"><span>$29</span>/month</div>
                            <ul class="plan-card__features">
                                <li>Dashboard & Analysis</li>
                                <li>Premium Support</li>
                                <li>Tracking Service</li>
                            </ul>
                            <a href="#" class="price-card__button button">Get Started</a>
                        </div>
                        <div class="pricing__plan-card plan-card">
                            <div class="plan-card__title">Enterprise</div>
                            <div class="plan-card__price"><span>$49</span>/month</div>
                            <ul class="plan-card__features">
                                <li>All features in <span>Premium</span></li>
                                <li>Realtime overview</li>
                                <li>Mobile app</li>
                            </ul>
                            <a href="#" class="price-card__button button">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer__menu">
            <div class="container-small">
                <div class="footer__menu-row">
                    <div class="footer__menu-column menu-column">
                        <div class="menu-column__title">Product</div>
                        <div class="menu-column__list">
                            <ul>
                                <li><a href="#">How it works</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Download</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer__menu-column menu-column">
                        <div class="menu-column__title">Company</div>
                        <div class="menu-column__list">
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Partnership</a></li>
                                <li><a href="#">Terms of use</a></li>
                                <li><a href="#">Privacy policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer__menu-column menu-column">
                        <div class="menu-column__title">Support</div>
                        <div class="menu-column__list">
                            <ul>
                                <li><a href="#">Help center</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer__menu-column menu-column">
                        <div class="menu-column__title">Get in touch</div>
                        <div class="menu-column__icons-row">
                            <a href="#" class="menu-column__icons-item"><i class="icon-facebook"></i></a>
                            <a href="#" class="menu-column__icons-item"><i class="icon-twitter"></i></a>
                            <a href="#" class="menu-column__icons-item"><i class="icon-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom-info">
            <div class="container-large">
                <div class="footer__bottom-info-row">
                    <div class="footer__bottom-info-logo">
                        <a href="/"><img src="assets/img/logo.svg" alt=""></a>
                    </div>
                    <div class="footer__bottom-info-copyright">© Fusely 2022. All rights reserved.</div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>